.project-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px; 
}

.project-card.red {
    background-color: red; 
}

.project-card.green {
    background-color: green;
}

.project-card.blue {
    background-color: blue; 
}

.project-card-buttons {
    display: flex;
    justify-content: space-between;
}

.project-card-buttons button {
    padding: 5px;
    margin: 5px;
    font-size: 12px; 
}

.reject{
    background-color: red;
    color: #fff;
}
.accept{
    background-color: green;
    color: #fff;
}