/* ProjectView component styles */
.dashboard-container {
    background-color: #212529;

    /* background-color: rgba(0, 0, 0, 0.5); */
    color: #000;
    min-height: 100vh;
    display: 'flex';
    flex-direction: column;
    justify-content: center;
        
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #fff; 
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    padding: 0 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  